.navbar {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0rem 2rem 0 2rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: relative;
  .main-logo {
    h3 {
      position: relative;
      a {
        font-size: 2.5rem;
        text-decoration: none;
        color: #ffffff;
        -webkit-text-stroke: 0.1rem #fa7d24;
        text-transform: uppercase;
        &::before {
          content: attr(data-text);
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          color: #fe6900;
          -webkit-text-stroke: 0rem #ffffff;
          border-right: 0.2rem solid #fe6900;
          overflow: hidden;
          animation: animate 6s linear infinite;
        }
        @keyframes animate {
          0%,
          10%,
          100% {
            width: 0;
          }
          70%,
          90% {
            width: 100%;
          }
        }
      }
    }
  }
  .search {
    width: 35rem;
    background-color: transparent;
    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 0.1rem solid #00a5db;
      &:hover,
      &:focus {
        box-shadow: 0 0 0.3rem 0.2rem #00a5db;
      }
      input {
        flex: 7;
        padding: 1rem;
        outline: none;
        border: none;
      }
      button {
        flex: 1;
        padding: 0.5rem 1.8rem;
        color: #ffffff;
        outline: none;
        border: none;
        background-color: transparent;
        cursor: pointer;
        text-align: end;
        i {
          font-size: 1.6rem;
          color: #fe6900;
        }
      }
    }
  }
  .links {
    ul {
      display: flex;
      gap: 1rem;
      .cart {
        a {
          position: relative;
          i {
            font-size: 2rem;
            color: #000000;
            transform: scale(1);
            &:hover {
              transform: scale(1.1);
            }
          }
          span {
            position: absolute;
            top: -2rem;
            left: 1rem;
            width: 2rem;
            height: 2rem;
            color: #ffffff;
            background-color: #fe6900;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #000000;
          font-size: 1.4rem;
          &:hover {
            color: #fe6900;
          }
        }
      }
    }
  }
  .navbar-icons {
    position: relative;
    top: -1rem;
    right: 1rem;
    display: none;
    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      i,
      ion-icon {
        font-size: 2rem;
        color: #fe6900;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .navbar {
    .search {
      width: 30rem;
    }
  }
}
@media screen and (max-width: 800px) {
  .navbar {
    .search {
      width: 25rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    height: 6rem;
    padding: 0rem 2rem 0 2rem;
    .main-logo {
      h3 {
        a {
          font-size: 2rem;
        }
      }
    }
    .links {
      ul {
        display: flex;
        gap: 1rem;
        li {
          a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 692px) {
  .navbar {
    position: relative;
    .links {
      position: absolute;
      top: 6rem;
      left: -100rem;
      width: 100%;

      ul {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        padding: 1rem 1rem 1rem 1rem;
        gap: 1rem;
        li {
          width: 100%;
          padding: 1rem 1rem 1rem 3rem;
          border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
          a {
            font-size: 1.2rem;
          }
          .active {
            left: 0;
          }
        }
      }
    }
    .search {
      position: absolute;
      top: 27rem;
      left: -100rem;

      background-color: #ffffff;
      width: 100%;
      text-align: center;
      padding: 2rem;
    }
    .active {
      left: 0;
    }
    .navbar-icons {
      display: block;
    }
  }
}
